@charset "UTF-8";

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.element-animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.swing {
    transform-origin: top center;
    animation-name: swing
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden
    }

    to {
        opacity: 1;
        visibility: visible
    }
}

.fadeIn {
    animation-name: fadeIn
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 40px, 0)
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: none
    }
}

.fadeInUp {
    animation-name: fadeInUp
}

@keyframes fadeOut {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.fadeOut {
    animation-name: fadeOut
}

.ftco-animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}